.bkground {
    background-color: white;
    border-radius: 5px;
    min-height: 567px;
}

.stupid {
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.font20 {
    font-size: 2rem;
}

.margin {
    margin: 1rem;
}

.picSize {
    width: 6rem;
    height: 6rem;
    border-radius: 5px;
    margin-left: .75rem;
}

.flexRowLeft {
    display: flex;
    flex-direction: row;
    align-content: left;
}

.flexColumnLeft {
    display: flex;
    flex-direction: column;
    align-content: left;
}

.margLeft1 {
    margin-left: 1rem;
}

.left {
    text-align: left;
}