.row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.picIcon {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.width {
    width: 85%;
}

.white {
    color: white;
}

.p {
    padding: 1rem;
}

.margBot {
    margin-bottom: 1rem;
}

.sp {
    padding: 0 1rem;
}

.white {
    color: white;
}

.eb, .eb:hover {
    color: white;
    text-decoration: none;
    margin-top: 1rem;
    /* max-height: 2rem; */
    margin-left: .5rem;
}

.bkgwhite {
    background-color: white;
    border-radius: 5%;
    min-height: 567px;
    margin-top: 1rem;
}

.se {
    justify-content: space-evenly;
}

.iconSize {
    width: 1.5rem;
    height: 1.5rem;
}

.widthName {
    min-width: 3.5rem;
}