.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.picIcon {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.width {
    width: 85%;
}

.white {
    color: white;
}

.p {
    padding: 1rem;
}

.margBot {
    margin-bottom: 1rem;
}

.sp {
    padding: 0 1rem;
}