.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 0, 110);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.pink {
    background-color: rgb(255, 0, 110);
}

#textColorWhite {
    color: white;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}