.pink {
    color: rgb(255, 0, 110);
}

.blue {
    color:rgb(58, 134, 255)
}

.row {
    display: flex;
    flex-direction: row;
}

.listPic {
    padding: 0 .5rem 0 .5rem;
}

.a {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.b, .b:hover {
    color: white;
    text-decoration: none;
    margin-top: 1rem;
    font-size: 9px;
    max-height: 2rem;
}

.picSize {
    max-width: 5rem;
    max-height: 5rem;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.font10{
    font-size: 10px;
}

.font14 {
    font-size: 14px;
}

.font18{
    font-size: 18px;
}

.center {
    align-content: center;
}

.padding {
    padding: 18px;
}

.textarea {
    font-size: 10px;
    min-height: 10rem;
}